.chessboard {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  gap: var(--yamori-spacing-small);
  box-sizing: border-box;

  &__switch {
    all: unset;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--yamori-theme-primary);
    border-radius: 100rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    place-self: center;
    overflow: hidden;
    width: 1.25rem;

    div {
      background-color: white;
      height: 50%;

      &:first-child {
        background-color: black;
      }
    }

    &[aria-checked="true"] {
      flex-direction: column-reverse;
    }
  }

  &__files {
    display: flex;
    justify-content: space-around;
  }

  &__ranks {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;

    &--flipped {
      flex-direction: column;
    }
  }

  &__squares {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  }
}
