.chess-moves {
  height: 100%;
  overflow-y: auto;

  summary {
    background-color: var(--yamori-surface-page);
    cursor: pointer;
    position: sticky;
    top: -2px;
  }

  ul {
    margin: 0;
    padding: 0 var(--yamori-spacing-large);
  }
}
