.chess-history {
  column-gap: var(--yamori-spacing-medium);
  display: grid;
  grid-template-columns: repeat(3, max-content);
  list-style: none;
  max-height: 100%;
  overflow-y: auto;
  row-gap: var(--yamori-spacing-x-small);
}
