.chess-history {
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: var(--yamori-spacing-medium);
  row-gap: var(--yamori-spacing-x-small);
  overflow-y: auto;
}
