.app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  gap: var(--yamori-spacing-large);

  &__controls {
    align-items: start;
    display: grid;
    flex: 1;
    gap: var(--yamori-spacing-large);
    min-height: 0;
    min-width: 0;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
  }

  &__button {
    grid-column-start: span 2;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .app {
    flex-direction: row;
  }
}

@media (max-aspect-ratio: 1 / 1) {
  .app {
    flex-direction: column;
  }
}
